/*CSS for hidden items:*/
#design {
  display: none;
}

#c {
  display: none;
}

#ruby {
  display: none;
}

.return {
  display: none;
}

.nomatches {
  display: none;
}

.matched {
  display: none;
}

.invalid-feedback {
  display: none;
}
/*CSS for all items*/
body {
  font-family: 'Droid Sans Mono', monospace;
}
.header img {
  width: 100%;
  z-index: -1;
  position: relative;
}

.header h1 {
  text-align: center;
  color: #fff;
  z-index: 0;
  position: absolute;
  top: 25%;
  left: 20%;
  font-family: 'Droid Sans Mono', monospace;
  object-fit: cover;
}

.jumbotron {
  background-color: #a0ffd6;
  text-align: center;
  color: #fff;
  font-family: 'Droid Sans Mono', monospace;
}

.jumbotron p {
  margin-top: 25px;
  margin-bottom: 0;
}

.card-title {
  text-align: center;
}

.card {
  display: block;
  width: 100%;
  margin: 20px;
}

.matched {
  color: #fff;
  text-align: center;
  background-color: #f4b642;
}

.nomatches {
  color: #fff;
  text-align: center;
  background-color: #5b5243;
}


.return a {
  margin-top: 30px;
  display: block;
  width: 30%;
  margin: 0 auto;
}

.container {
  margin-bottom: 40px;
}
